## Week04.2 In-Class Team Activity
Thursday April 27th, 2023 - upload PDF with photograph (either rendered or a separate file) Due by 11:59pm

If you missed class â€“ no credit for this in-class activity, instead, I drop two unexcused absences from the Monday/Wednesday activities before deductions begin.

- **Please identify your team & the names of your teammates.** 

- **Please insert a team photo somewhere in this notebook.  If you cannot get the to render correctly to PDF please upload a separate file of the photo**

- **Please make certain that all of your teammates agree upon and understand the team answers. Thank you.**

Names:

In [ ]:
# Picture

1. Recall wordle.txt (all wordle words up to recently) from a previous lecture:

In [ ]:
with open('wordle.txt', 'r') as f:
    wordle_full = f.read()
    
# please create a function named letter count.
def letter_count():

Please write a *function* incorporating the use of a dictionary, to count the number of times each letter appeared and answer the question "which letter was most frequently seen?" Do remove the whitespace from your result.

In [ ]:
# the result should look like this
letter_count(wordle_full)

```
{'a': 975,
 'b': 280,
 'c': 475,
 'k': 210,
 's': 668,
 'e': 1230,
 't': 729,
 'y': 424,
 'o': 753,
 'h': 387,
 'r': 897,
 'i': 670,
 'd': 393,
 'l': 716,
 'u': 466,
 'v': 152,
 'n': 573,
 'g': 310,
 'p': 365,
 'm': 316,
 'f': 229,
 'x': 37,
 'w': 194,
 'z': 40,
 'j': 27,
 'q': 29}
```

2. Here we have several data objects:

In [ ]:
one = range(1, 51)
two = [
    'AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA',
    'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD',
    'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ',
    'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC',
    'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY'
]
three = (
    "Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut",
    "Delaware", "Florida", "Georgia", "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", 
    "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts", "Michigan", "Minnesota", 
    "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", "New Jersey", 
    "New Mexico", "New York", "North Carolina", "North Dakota", "Ohio", "Oklahoma", "Oregon", 
    "Pennsylvania", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", 
    "Utah", "Vermont", "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming"
)
four = [
    4903185, 731545, 7278717, 3017804, 39538223, 5773714, 3605944, 989948,
    21538187, 10711908, 1455271, 1839106, 12812508, 6785528, 3190369, 2913314,
    4467673, 4657757, 1362359, 6177224, 7029917, 10077331, 5706494, 2961279,
    6154913, 1084225, 1961504, 3104614, 1377529, 9288994, 2117522, 20201249,
    10439388, 779094, 11693217, 3963516, 4237256, 13002700, 1097379, 5170722,
    886667, 6910840, 29145505, 3271616, 643077, 8631393, 7693612, 1793716,
    5893718, 576851
]

Given what you have seen in Stats 21 so far, please treat `one` as the key and make the other three (two, three, four) values in order to convert this information to a dictionary.  Your result should look something like this (doesn't need to be as tidy and I'm only showing the first five) and you don't need to write a function.

In [ ]:
# your code goes here

```
1: ('AL', 'Alabama', 4903185)
2: ('AK', 'Alaska', 731545)
3: ('AZ', 'Arizona', 7278717)
4: ('AR', 'Arkansas', 3017804)
5: ('CA', 'California', 39538223)
```