In [1]:
import pandas as pd
import sqlite3
con = sqlite3.connect("tutorial.db")
cur = con.cursor()

In [10]:
cur.execute("CREATE TABLE movie(title, year, score)")

In [11]:
res = cur.execute("SELECT name FROM sqlite_master")
res.fetchone()

('movie',)

In [12]:
res = cur.execute("SELECT name FROM sqlite_master WHERE name = 'spam'")
res.fetchone() is None

True

In [13]:
cur.execute("""INSERT INTO movie VALUES ('Monty Python and the Holy Grail', 1975, 8.2), ('And Now for Something Completely Different', 1971, 7.5)""")
con.commit()

In [14]:
res = cur.execute("SELECT score FROM movie")
res.fetchall()

[(8.2,), (7.5,)]

In [15]:
for row in cur.execute("SELECT year, title FROM movie ORDER BY year"):
    print(row)

(1971, 'And Now for Something Completely Different')
(1975, 'Monty Python and the Holy Grail')