## Lecture 6

In [9]:
x = 0
while x < 10:
    print(x, end = " ")
    x += 1

# be careful with while loops as it can run infinitely

0 1 2 3 4 5 6 7 8 9

In [10]:
# booleans output as True or False
5 == 5

True

In [11]:
5 != 6

True

In [1]:
# can also compare strings
"a" > "z"

False

In [3]:
"a" > "A"

True

In [4]:
"a" in "bananas"

True

In [7]:
# list is a data structure in Python; can be mutable and ordered
# can be made using [] or list() or as a result of a different function/method
# items in a list are separated by commas
s = "I love cookies"
s_list_split = s.split()
s_list_square = [s]
s_list_function = list(s)

print(s)
print(s_list_split)
print(s_list_square)
print(s_list_function)

I love cookies
['I', 'love', 'cookies']
['I love cookies']
['I', ' ', 'l', 'o', 'v', 'e', ' ', 'c', 'o', 'o', 'k', 'i', 'e', 's']

In [15]:
my_list = ["Luke Skywalker", 172, "C-3PO", 167, "R2-D2", 96, "Darth Vader", 202]

first_element = my_list[0]
second_element = my_list[1]
last_element = my_list[-1]

In [16]:
# can also slice, append, insert, and extend lists
names = my_list[0::2]
height = my_list[1::2]

In [17]:
my_list.insert(2, "Leia Organa")
my_list.insert(3, 122)
print(my_list)

['Luke Skywalker', 172, 'Leia Organa', 122, 'C-3PO', 167, 'R2-D2', 96, 'Darth Vader', 202]

In [18]:
my_list.remove("Leia Organa")
print(my_list)
my_list.pop(2)
print(my_list)

['Luke Skywalker', 172, 122, 'C-3PO', 167, 'R2-D2', 96, 'Darth Vader', 202]
['Luke Skywalker', 172, 'C-3PO', 167, 'R2-D2', 96, 'Darth Vader', 202]

In [ ]:
# Shallow copy is